%turbo-frame(id="main")
  .hero.min-h-screen
    .hero-overlay.bg-opacity-60
    .hero-content.text-center.text-neutral-content
      .max-w-md
        .grid.grid-cols-5.gap-12
          %div 01
          %div 09
          %div 09
          %div 09
          %div 09
