%turbo-frame(id="main")
  .container.justify-center.items-center.grid.grid-cols-4.gap-12
    %div
      .card.w-75.bg-base-100.shadow-xl
        %figure
          %img{:alt => "Shoes", :src => "https://api.lorem.space/image/shoes?w=400&h=225"}/
        .card-body
          %h2.card-title Shoes!
          %p If a dog chews shoes whose shoes does he choose?
          .card-actions.justify-end
            %button.btn.btn-primary Buy Now

    %div
      .card.w-75.bg-base-100.shadow-xl
        %figure
          %img{:alt => "Shoes", :src => "https://api.lorem.space/image/shoes?w=400&h=225"}/
        .card-body
          %h2.card-title Shoes!
          %p If a dog chews shoes whose shoes does he choose?
          .card-actions.justify-end
            %button.btn.btn-primary Buy Now

    %div
      .card.w-75.bg-base-100.shadow-xl
        %figure
          %img{:alt => "Shoes", :src => "https://api.lorem.space/image/shoes?w=400&h=225"}/
        .card-body
          %h2.card-title Shoes!
          %p If a dog chews shoes whose shoes does he choose?
          .card-actions.justify-end
            %button.btn.btn-primary Buy Now

    %div
      .card.w-75.bg-base-100.shadow-xl
        %figure
          %img{:alt => "Shoes", :src => "https://api.lorem.space/image/shoes?w=400&h=225"}/
        .card-body
          %h2.card-title Shoes!
          %p If a dog chews shoes whose shoes does he choose?
          .card-actions.justify-end
            %button.btn.btn-primary Buy Now

    %div
      .card.w-75.bg-base-100.shadow-xl
        %figure
          %img{:alt => "Shoes", :src => "https://api.lorem.space/image/shoes?w=400&h=225"}/
        .card-body
          %h2.card-title Shoes!
          %p If a dog chews shoes whose shoes does he choose?
          .card-actions.justify-end
            %button.btn.btn-primary Buy Now
