%turbo-frame(id="main")
  .flex.flex-wrap.justify-center.gap-12.container.mx-auto.grid.lg:grid-cols-4

    .py-8.px-1{:class => "w-[360px] h-[480px]"}
      .relative.flex.flex-col.justify-center.items-center.mx-auto.p-2.bg-slate-50.border-slate-900.text-slate-50.shadow-lg.rounded-3xl.hover:shadow-xl{:class => "w-[300px] h-[400px]"}
        %h3.absolute.-top-5.-left-5.w-32.p-2.bg-slate-800.rounded-3xl.text-2xl.font-merriweather.text-center
          Phantom #0000
        %a.block.w-full.mx-auto.p-2.md:mx-auto.hover:rotate-2.transition.ease-in-out.delay-75.duration-150{:href => "https://www.adaphantoms.com/", :target => "__blank"}
          %img.object-fill.rounded-2xl{:alt => "Eazy IP Web app showcase mockup", :src => "https://ipfs.io/ipfs/QmNQTipwkGXHMJhpCUwGk5q83zLf1pZ7XMttohKDyLpAvr"}/
        %p.absolute.-bottom-12.left-6.p-4.bg-inherit.border-slate-900.text-slate-900.border.shadow-lg.rounded-3xl.hover:text-black.hover:shadow-xl{:class => "w-[300px]"}
          This Phantom is breedable


    .py-8.px-1{:class => "w-[360px] h-[480px]"}
      .relative.flex.flex-col.justify-center.items-center.mx-auto.p-2.bg-slate-50.border-slate-900.text-slate-50.shadow-lg.rounded-3xl.hover:shadow-xl{:class => "w-[300px] h-[400px]"}
        %h3.absolute.-top-5.-left-5.w-32.p-2.bg-slate-800.rounded-3xl.text-2xl.font-merriweather.text-center
          Phantom #0000
        %a.block.w-full.mx-auto.p-2.md:mx-auto.hover:rotate-2.transition.ease-in-out.delay-75.duration-150{:href => "https://www.adaphantoms.com/", :target => "__blank"}
          %img.object-fill.rounded-2xl{:alt => "Eazy IP Web app showcase mockup", :src => "https://ipfs.io/ipfs/QmNQTipwkGXHMJhpCUwGk5q83zLf1pZ7XMttohKDyLpAvr"}/
        %p.absolute.-bottom-12.left-6.p-4.bg-inherit.border-slate-900.text-slate-900.border.shadow-lg.rounded-3xl.hover:text-black.hover:shadow-xl{:class => "w-[300px]"}
          This Phantom is breedable


    .py-8.px-1{:class => "w-[360px] h-[480px]"}
      .relative.flex.flex-col.justify-center.items-center.mx-auto.p-2.bg-slate-50.border-slate-900.text-slate-50.shadow-lg.rounded-3xl.hover:shadow-xl{:class => "w-[300px] h-[400px]"}
        %h3.absolute.-top-5.-left-5.w-32.p-2.bg-slate-800.rounded-3xl.text-2xl.font-merriweather.text-center
          Phantom #0000
        %a.block.w-full.mx-auto.p-2.md:mx-auto.hover:rotate-2.transition.ease-in-out.delay-75.duration-150{:href => "https://www.adaphantoms.com/", :target => "__blank"}
          %img.object-fill.rounded-2xl{:alt => "Eazy IP Web app showcase mockup", :src => "https://ipfs.io/ipfs/QmNQTipwkGXHMJhpCUwGk5q83zLf1pZ7XMttohKDyLpAvr"}/
        %p.absolute.-bottom-12.left-6.p-4.bg-inherit.border-slate-900.text-slate-900.border.shadow-lg.rounded-3xl.hover:text-black.hover:shadow-xl{:class => "w-[300px]"}
          This Phantom is breedable


    .py-8.px-1{:class => "w-[360px] h-[480px]"}
      .relative.flex.flex-col.justify-center.items-center.mx-auto.p-2.bg-slate-50.border-slate-900.text-slate-50.shadow-lg.rounded-3xl.hover:shadow-xl{:class => "w-[300px] h-[400px]"}
        %h3.absolute.-top-5.-left-5.w-32.p-2.bg-slate-800.rounded-3xl.text-2xl.font-merriweather.text-center
          Phantom #0000
        %a.block.w-full.mx-auto.p-2.md:mx-auto.hover:rotate-2.transition.ease-in-out.delay-75.duration-150{:href => "https://www.adaphantoms.com/", :target => "__blank"}
          %img.object-fill.rounded-2xl{:alt => "Eazy IP Web app showcase mockup", :src => "https://ipfs.io/ipfs/QmNQTipwkGXHMJhpCUwGk5q83zLf1pZ7XMttohKDyLpAvr"}/
        %p.absolute.-bottom-12.left-6.p-4.bg-inherit.border-slate-900.text-slate-900.border.shadow-lg.rounded-3xl.hover:text-black.hover:shadow-xl{:class => "w-[300px]"}
          This Phantom is breedable


    .py-8.px-1{:class => "w-[360px] h-[480px]"}
      .relative.flex.flex-col.justify-center.items-center.mx-auto.p-2.bg-slate-50.border-slate-900.text-slate-50.shadow-lg.rounded-3xl.hover:shadow-xl{:class => "w-[300px] h-[400px]"}
        %h3.absolute.-top-5.-left-5.w-32.p-2.bg-slate-800.rounded-3xl.text-2xl.font-merriweather.text-center
          Phantom #0000
        %a.block.w-full.mx-auto.p-2.md:mx-auto.hover:rotate-2.transition.ease-in-out.delay-75.duration-150{:href => "https://www.adaphantoms.com/", :target => "__blank"}
          %img.object-fill.rounded-2xl{:alt => "Eazy IP Web app showcase mockup", :src => "https://ipfs.io/ipfs/QmNQTipwkGXHMJhpCUwGk5q83zLf1pZ7XMttohKDyLpAvr"}/
        %p.absolute.-bottom-12.left-6.p-4.bg-inherit.border-slate-900.text-slate-900.border.shadow-lg.rounded-3xl.hover:text-black.hover:shadow-xl{:class => "w-[300px]"}
          This Phantom is breedable

